<div class='grid' *ngIf='grid'>
  <h3>
    {{ title }}
    <ng-container *ngIf='completedRows !== null || completedColumns !== null'>
      <br>
      <ng-container *ngIf='completedRows !== null'>Completed Rows: {{ completedRows }}<br></ng-container>
      <ng-container *ngIf='completedColumns !== null'>Completed Columns: {{ completedColumns }}</ng-container>
    </ng-container>
  </h3>
  <div class='grid-row' *ngFor='let i of rowIndices'>
    <div class='grid-cell' 
         *ngFor='let j of columnIndices'
         [style.background-color]="getColorForCell(grid[i][j])">
    </div>
  </div>
</div>
